<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'About' %>

<h1>About</h1>
<p>SWorD (Social Web of real Domotics) is a prototype social network where users, homes,
  providers, devices and appliances can interact in a "smart" way, by talking each other and thus lowering the
  technical knowledge to use home automation and domotics systems.</p>
